#vertical-logo-footer {
  display: none;
}

footer {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: 119px;
  justify-content: flex-start;
}

footer img {
  height: 84px;
  margin-left: 10px;
  margin-right: 43px;
  width: auto;
}

footer span {
  color: #fff;
  font-size: var(--font-size-smaller);
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  #horizontal-logo-footer {
    display: none;
  }

  #vertical-logo-footer {
    display: flex;
  }

  footer {
    flex-direction: column;
    height: 140px;
    justify-content: center;
    padding: 20px o;
  }

  footer img {
    margin: 0;
  }

  footer span {
    font-weight: 500;
    width: 90%;
    text-align: center;
  }
}
