#vertical-logo,
#btn-mobile {
  display: none;
}

.div-logo-omma {
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  height: 117px;
  z-index: 1000;
  position: relative;
}

header ol {
  align-items: center;
  background-color: var(--dark-primary-color);
  display: flex;
  justify-content: center;
  height: 48px;
}

header li {
  padding: 0 29px;
}

header a {
  color: #fdfdfd;
  font-size: 1.25rem;
  font-weight: 700;
}

header a:hover {
  transition: 400ms;
  color: var(--dark-primary-color-complementary);
}

@media only screen and (max-width: 480px) {
  #horizontal-logo {
    display: none;
  }

  #vertical-logo {
    display: flex;
  }

  .div-logo-omma {
    justify-content: space-around;
  }

  .div-logo-omma img {
    width: 200px;
  }

  #menu {
    display: flex;
    flex-direction: column;
    height: 0px;
    justify-content: space-around;
    right: 0;
    position: absolute;
    overflow-y: hidden;
    transition: 400ms;
    top: 117px;
    visibility: hidden;
    width: 34%;
    z-index: 2000;
  }

  #menu li {
    text-align: center;
    padding: 5px 10px;
  }

  #nav.active #menu {
    height: 120px;
    visibility: visible;
  }

  #btn-mobile {
    display: block;
  }
}
