* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --dark-primary-color: #ffa000;
  --dark-primary-color-complementary: #135194;
  --ligh-primary-color: #ffecb3;
  --primary-color: #ffc107;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
  --bg-button: #176902;
  --bg-button-complementary: #940074;
  /* Fontes */
  --font-size-small: 1.25rem; /*(20px)*/
  --font-size-md: 1.625rem; /*(26px)*/
  --font-size-big: 3.5rem; /*(56px)*/
  --font-size-larger: 4.5rem; /*(72px)*/
}
