* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  
}

:root {
  --dark-primary-color: #ffa000;
  --ligh-primary-color: #ffecb3;
  --primary-color: #ffc107;
  --text-icons: #212121;
  --accent-color: #ffc107;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
  /* Fontes */
  --font-size-larger: 4.5rem; /*(72px)*/
}
