.div-logo-omma {
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  height: 117px;
  z-index: 1000;
  position: relative;
}

header nav {
  align-items: center;
  background-color: var(--dark-primary-color);
  display: flex;
  justify-content: center;
  height: 48px;
}

header ol {
  display: flex;
}

header li {
  padding: 0 29px;
}

header a {
  color: #fdfdfd;
  font-size: 1.25rem;
  font-weight: 700;
}
