.imagem-titulo-home {
  align-items: center;
  background-image: url(../../assets/img/mulher-cozinhando-com-criancÌ§a\ 1440x638.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  height: 638.18px;
}

.imagem-titulo-home h1 {
  color: #fff;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 5.313rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  width: 26%;
  margin-right: 101px;
  margin-bottom: 136.18px;
}

.receitas-da-semana {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 158px;
}

.receitas-da-semana h1 {
  color: var(--dark-primary-color);
  font-weight: 700;
  font-size: 3.438rem;
  line-height: 4.188renm;
  padding: 74px 0;
}

.cards-das-receitas-da-semana {
  display: flex;
}

.cards-das-receitas-da-semana div {
  padding: 0 42px;
}

.inicio-comer-e-viver-bem {
  align-items: flex-start;
  background-image: url(../..//assets/img/mulher-cozinhando-com-senhora\ 1440\ x\ 772.png);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 772px;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 123px;
  width: 100%;
}

.inicio-comer-e-viver-bem h2 {
  font-size: 4.063rem;
  font-weight: 700;
  line-height: 4.938rem;
}

.inicio-comer-e-viver-bem p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.813rem;
  padding-top: 73px;
  width: 32%;
}
