.imagem-titulo-home {
  align-items: center;
  background-image: url(../../assets/img/mulher-cozinhando-com-criança\ 1440x638.png);
  display: flex;
  justify-content: flex-end;
  height: 638.18px;
}

.imagem-titulo-home h1 {
  color: #fff;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 5.313rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  width: 26%;
  margin-right: 101px;
  margin-bottom: 136.18px;
}
