.container {
  display: flex;
  justify-content: center;
}

main,
aside {
  display: flex;
  flex-direction: column;
  margin-top: 107px;
  width: 50%;
}

main {
  align-items: flex-start;
  padding-left: 10%;
}

aside {
  align-items: center;
  padding-top: 71px;
}

.cabeçalho h1 {
  color: var(--dark-primary-color);
  font-size: var(--font-size-big);
  font-weight: 700;
  padding: 3px 0;
}

.cabeçalho img {
  padding: 25px 0;
  width: 100%;
}

#dificuldade,
#pessoasServidas {
  color: var(--bg-button);
  border: 1px solid var(--bg-button);
  border-radius: 47px;
  height: 31px;
  padding: 7px 22px;
}

#pessoasServidas {
  margin-left: 19px;
}

.ingredientes,
.video h5,
.modo-de-preparo h5,
.modo-de-preparo ol {
  font-size: var(--font-size-small);
  margin-top: 65px;
}

.ingredientes h5,
.video h5,
.modo-de-preparo h5 {
  font-weight: 700;
}

.ingredientes li,
.modo-de-preparo li {
  font-weight: 300;
  max-width: 600px;
  width: 100%;
}

.modo-de-preparo ol {
  margin: 30px 0 166px 0;
}

.video iframe {
  margin-top: 37px;
  width: 100%;
}

aside h4 {
  color: var(--dark-primary-color);
  font-size: var(--font-size-md);
  font-weight: 500;
}

aside a {
  margin: 27px 0;
  width: 50%;
}

aside article {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

aside article img {
  width: 100%;
}

aside article span {
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-md);
  font-weight: 600;
  text-align: center;
  padding: 19px;
  width: 100%;
}

aside a:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}

@media only screen and (max-width: 768px) {
  aside {
    display: none;
  }

  main {
    padding: 0;
    margin: 40px 0;
    width: 85%;
  }

  .cabeçalho h1 {
    text-align: center;
  }
}